
<!--<form>-->
<!--    <input class="search-place" id="text-place" type="text" value="" placeholder="Search" autofocus>-->
<!--    <input class="search-btn-submit" id="text-find" type="submit" value=" " title="Начать поиск">-->
<!--</form>-->


<div class="filter-conteiner">
    <form class="search-box">
        <input type="text" placeholder="Search" class="search-place">
        <button type="submit" class="search-btn"></button>
    </form>
    <div>
    <div class="select-box">
    <select class="select-choice">
        <option disabled selected value> -- select an option -- </option>
        <option>Open</option>
        <option>Done</option>
    </select>
    </div>
    <div class="select-box">
    <select class="select-choice" id="prioritySearch">
        <option>Всі карти</option>
    </select>
    </div>
    </div>
</div>

