.btnGroup{
  display: grid;
  justify-content: center;
  padding: 15px 0 5px 0 ;
}
.card-group{
  margin: 10px 30px;
}
.checkPage{
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  color: red;
}


