.filter-conteiner{
  display: flex;
  justify-content: space-around;
  margin: 20px 140px;
}
.search-box {
  //margin-top: 20px;
  position: relative;

}
.search-place {
  width: 250px;
  padding: 10px;
  border-radius: 42px;
  border: none;
  background: #ffffff;
  outline: none;
}
.search-btn{

  outline: none;
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  left: 220px;
  cursor: pointer;
}
.search-btn:before{
  content: url("/img/loupe.png");
}






.select-box {
  margin-bottom: 5px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 34px;
  //background: url("/img/Arrow.png") no-repeat right rgba(9, 77, 146, 0.8);
  background: rgba(9, 77, 146, 0.8);
  width: 240px;
}
.select-choice{
  color: white;
  outline: none;
  background: transparent;
  height: 34px;
  padding: 5px;
  border: none;
  width: 268px;
}
.select-box:before{
  content: url("/img/Arrow.png");
  position: absolute;
  left: 220px;
  top: 7px;

}