@import "global/reset";
@import "authorization";
@import "header";
@import "search";
@import "createCard";
@import "access";


.container{
  margin: 0 auto;
  background-image: url('/img/pexels.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
